html, body, #app {
    font-family: 'Roboto', sans-serif;
}

.card-header {
    background: linear-gradient(60deg, #810218, #6610f2);
}

.card-body {
    font-size: 0.9rem;
    background-color: #f8f9fa;
}

.card-body p {
    margin-bottom: 0.5rem;
}

table,
th, 
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

input[type="datetime-local"] {
    margin: 0;
    padding: 10px;
    border: none;
    font-size: 15px; 
    line-height: 1.5; 
  }
  
  
  input[type="datetime-local"]::-webkit-datetime-edit-text {
    padding: 0 0.5em;
  }
  